img {
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), url(../../../Images/bannerbackground.png));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}